@model IEnumerable<Inventory.Site.ViewModels.ArticleViewModel>

@{
    ViewBag.Title = "Artículos";
}

<h2>Artículos</h2>

<p>
    @Html.ActionLink("Nuevo artículo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInShelf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInVault)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInShelf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInVault)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ArticleID }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.ArticleID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ArticleID })
            </td>
        </tr>
    }

</table>
